body {
    margin: 0px;
    width:100%;
}

header {
    text-align: center;
    background-color:salmon;
    padding: 80px;
}

h1 {
    font-family: 'Courgette', handwriting;
    font-size: 40px;
}

#hero {
    display:block;
    margin:auto;
}

#stores {
    background-color: #488d9a;
    color:whitesmoke;
    height: 200px;
    padding: 20px;
    text-align: left;
}

#stores ul {
    width: 950px;
    height: 100px;
    padding: 0px;
    margin: auto;
}

#stores li {
    float:left;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    width:150px;
    margin-left: 20px;
    margin-right: 20px;
}

#testimonials {
    background-color: whitesmoke;
    height: 480px;
}

#familyimg {
    float: right;
    margin: 0px;
}

blockquote {
    float: right;
    font-size: 60px;
    line-height: 150px;
    text-align: right;
    margin-right: 15%;
}

cite {
    font-size: 32px;
    text-align: right;
}

#leftFish {
    display: block;
    margin: auto;
}

#motto {
    padding:200px;
}

h4 {
    text-align: center;
    margin: 200px;
    margin-bottom: 300px;
    font-size: 200%;
}

#story {
    background-color: salmon;
    height: 800px;
    font-size: 25px;
    text-align: center;
    padding: 40px;
}

#storyPat {
    width:40%;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 80px;
    border-style: solid;
    padding: 40px;
}

#lastSection {
    background-color: #488d9a;
    height: 80px;

}
