body {
    margin: 0px;
    width:100%;
    font-family: 'Times New Roman', Times, serif;
    color: #101010;
    background-color: #488d9a;
}

header {
    text-align: center;
    background-color:salmon;
    padding: 80px;
}

h1 {
    font-family: 'Courgette', cursive;
    color: #333333;
    font-size: 40px;
    font-weight: bold;
}

header h2 {
    font-style: italic;
}

header h3 {
    font-style: italic;
}

#hero {
    display:block;
    margin:auto;
}

#stores {
    background-color: #488d9a;
    color: #101010;
    height: 200px;
    padding: 20px;
    text-align: left;
}

#stores h2 {
    font-family: Helvetica, sans-serif;
}

#stores ul {
    width: 950px;
    height: 100px;
    padding: 0px;
    margin: auto;
}

#stores li {
    float:left;
    list-style-type: none;
    padding: 0px;
    text-align: center;
    width:150px;
    margin-left: 20px;
    margin-right: 20px;
}

#testimonials {
    background-color: whitesmoke;
    height: 480px;
}

#familyimg {
    float: left;
    margin: 0px;
}

#testimonials blockquote {
    float: left;
    font-size: 60px;
    line-height: 150px;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 140px;
    height: 200px

}

#testimonials cite {
    font-size: 32px;
    text-align: right;
}

#motto {
    background-color: white;
    height: 1000px;
}

#motto div {
    margin-left: auto;
    margin-right: auto;
    padding-top: 300px;
    width: 500px;
    height: 400px;
}

#leftFish {
    display: block;
    margin: auto;
}

h4 {
    text-align: center;
    font-size: 40px;
    color: #555555;
}

#story {
    background-image: url(assets/frosted-cookie-bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    font-size: 25px;
    text-align: center;
    padding: 40px; 
}

#story h2 {
    font-family: Helvetica, sans-serif;
    background-color: #488d9a;
    border-radius: 12px;
    border-radius: 8px;
    width: 800px;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#storyPat {
    width: 800px;
    margin-left:auto;
    margin-right:auto;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 80px;
    border-left-style: solid;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

#story img {
    border-radius: 12px;
}

#promo {
    height: 600px;
    background-color: #444444;
    padding-top: 100px;
}

#promo div {
    background-color: white;
    border-radius: 12px;
    width: 800px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    
}

#lastSection {
    background-color: salmon;
    height: 80px;

}
